:root {
    --emt_person_id__9: #8b0000;
    --drittbriefe: #7a6855;
    --emt_person_id__18:  #1f3a93;
    --emt_person_id__50:  #008000;
    --Brief_erschlossen: #ae4d4d;
    --mentioned_letter_pw:  #4F824F;
    --mentioned_letter_jw: #3b5998;
    --mehrere_briefe: #545454;
}

:where(acdh-ch-calendar) {
    display: grid;
    font-size: 1rem;
    gap: 2rem
}

acdh-ch-calendar {
    display: grid;
    gap: 4rem;
}

acdh-ch-calendar-year {
	justify-content: center;
}

acdh-ch-calendar caption {
    caption-side: top;
    text-align: center;
    color: var(--bs-body-color);
}

@media (min-width: 40rem) {
    acdh-ch-calendar {
        grid-template-columns: 14rem 1fr;
    }
}

acdh-ch-calendar>label>span {
    display: block;
    font-weight: 600;
    margin-block-end: 1rem;
}

acdh-ch-calendar-year-picker div[role="radiogroup"] {
    gap: 0 2rem;
}

acdh-ch-calendar-year-picker div[role="radiogroup"]>label {
    line-height: 2rem;
}


:where(acdh-ch-calendar-year td > button[data-event-kinds])::after {
    border-radius: 50%;
}


/** When using tailwindcss, explicitly set text and background colors of events. */
acdh-ch-calendar-year td>* {
    background-color: var(--calendar-cell-color);
    color: var(--calendar-cell-color-foreground);
}

acdh-ch-calendar-year td>button[data-event-kinds] {
    --calendar-cell-color: #52525b;
}

acdh-ch-calendar-year td>button[data-event-kinds="emt_person_id__9.html"] {
    --calendar-cell-color: var(--emt_person_id__9)
}

acdh-ch-calendar-year td>button[data-event-kinds="drittbriefe"] {
    --calendar-cell-color: var(--drittbriefe);
}

acdh-ch-calendar-year td>button[data-event-kinds="emt_person_id__18.html"] {
    --calendar-cell-color: var(--emt_person_id__18);
}

acdh-ch-calendar-year td>button[data-event-kinds="emt_person_id__50.html"] {
    --calendar-cell-color: var(--emt_person_id__50);
}

acdh-ch-calendar-year td>button[data-event-kinds="Brief_erschlossen"] {
    --calendar-cell-color: var(--Brief_erschlossen)
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_jw"] {
    --calendar-cell-color: var(--mentioned_letter_jw)
}

acdh-ch-calendar-year td>button[data-event-kinds="mentioned_letter_pw"] {
    --calendar-cell-color: var(--mentioned_letter_pw)
}

acdh-ch-calendar-year td>button[data-event-kinds="unknown"] {
    --calendar-cell-color: #5611f7;
}


.emt_person_id__9 {
    background-color: var(--emt_person_id__9)
}

.drittbriefe {
    background-color: var(--drittbriefe)
}

.emt_person_id__18 {
    background-color: var(--emt_person_id__18)
}

.emt_person_id__50 {
    background-color: var(--emt_person_id__50)
}

.Brief_erschlossen {
    background-color: var(--Brief_erschlossen)
}

.mehrere_briefe {
    background-color: var(--mehrere_briefe)
}


.mentioned_letter_pw {
    background-color: var(--mentioned_letter_pw)
}

.mentioned_letter_jw {
    background-color: var(--mentioned_letter_jw)
}
/* the legend */
.calendar-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* the select radio group */
input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input[type="radio"]:checked+span {
    outline: 2px solid var(--mehrere_briefe);
    border-radius: 10%;
    outline-offset: 2px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
  }

.legend-item {
    padding-left: 1em
}

acdh-ch-calendar-legend li {
    padding-block: 0.5em;
    display: flex;
    align-items: center ;
}