:root {
    --tabulator-primary: #ddc2a6; 
    --tabulator-secondary: #f6efe7;
    --tabulator-hover: #ddc2a6;
}

/* custom tabulator toc start */

.tabulator.table:not(.thead-light) .tabulator-header,
.tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
    border: 0cm;
}

.tabulator-tableholder {
    background-color: var(--bs-body-bg);
}

.table .tabulator {
    background-color: var(--bs-body-bg);
}

.tabulator-col {
    border: 0px;
    background-color: var(--bs-body-bg);
}

.tabulator-col-content {
    background-color: var(--tabulator-primary)
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    color: var(--bs-body-color);
}

/* .tabulator-row .tabulator-cell {
    background-color: var(--bs-body-bg);
} */
/* 
.tabulator-header-contents {
    background-color: var(--entity-person-color);
} */

.tabulator-header-contents .tabulator-headers {
    background-color: var(--tabulator-primary)
}


body div.tabulator-table div.tabulator-row.tabulator-row-even {
    background-color: var(--bs-body-bg);
}

body div.tabulator-table div.tabulator-row.tabulator-row-odd {
    background-color: var(--tabulator-secondary)
}


.tabulator.table .tabulator-row:hover,
.tabulator.table .tabulator-row:hover .tabulator-cell {
    background-color: var(--tabulator-hover);
    cursor: pointer;
}


input:focus,
input:focus-visible {
    outline: 0;
    border: 0.02rem solid var(--bs-body-bg);
    box-shadow: 0px 0.1rem 0.4rem var(--bs-body-bg);
}

/* custom tabulator toc end */